<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>

    </section>

    <section class="main-content">
      <div id="container" class="container">

        <div class="menuBar">
          <img id="logo"src="">
            <ul id="nav">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">LogIn</a></li>
            </ul>
        </div>

        <div class="titleBlock">IntraFeed</div>

        <div id="titleText"><div style="float: left;"  class="element"> </div></div>

        <div id="signUpBtn">

          <input type="submit" value="EXPLORE" name="SUBSCRIBE" id="mc-embedded-subscribe" class="button">
            <!--<a href="#"><img src="images/signUp.png" onmouseover="this.src='images/suH.png'" onmouseout="this.src='images/signUp.png'"/></a>-->
        </div>

        <div id="signin" style="margin-left:730px; margin-top:-265px;">
      <h1 style="margin-bottom:20px;"> Have an account? Sign in. </h1>
      <input type="email" placeholder="Email Address" style="width:350px" value="" name="EMAIL" class="required email" id="mce-EMAIL"><br>
            <input type="password" placeholder="Password" style="width:350px"value="" name="password" ><br>
            <h1 class="signin" style="font-size:14px; margin-top:-10px;"> Sign in </h1>

              <!--<input type="submit" value="LOGIN" name="SUBSCRIBE" id="mc-embedded-subscribe" class="button">-->

        </div>


      </div>

      <div id="footer">
      <br>
      <br>
        <p>Questions? <strong>Find out what IntraFeed can do for your business.</strong><br>
        © IntraFeed 2015</p>
      </div>





      <footer class="site-footer">

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
